body{
    font-family: poppins;
}

.navbar{
    z-index: 100;
}


.navbar li{
    list-style: none;
}
.navbar a{
    color: black;
}

.section p{
    font-size: 1.2rem;
    width: 70%;
    margin-inline: auto;

}

.border{
    border: 1px solid black;
}
	
